name: "terratest"
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  terratest:
    name: "Run Terratest"
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.19

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Download Go modules
        working-directory: test
        run: go mod download

      - name: Run test deployment
        working-directory: test
        run: go test -timeout 1h -v
